.social-container{
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: snow;
    text-align: center;
}

.social-container > a{
    color:#363636;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.social-container :hover {
  /*transform: translateY(-10px);*/
  transform: scale(1.3);
  color: #00BFFF;
}